*{
    padding:0;
    margin:0;
    text-decoration:none;
    list-style:none;
    box-sizing: border-box;
}

  @font-face {
    font-family: helvetica-light;
    src: url(../fonts/Helvetica\ Neue\ Medium.ttf);
  }

  @font-face {
    font-family: helvetica-bold;
    src: url(../fonts/Helvetica\ Neue\ Bold.woff);
  }

  @font-face {
    font-family: helvetica-regular;
    src: url(../fonts/Helvetica\ Neue.ttf);
  }

   @font-face {
    font-family: kano-regular;
    src: url(../fonts/Kano\ regular\ Regular.ttf);
  }
  
* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a.active1,a:hover{
  background: #0076ff;
  transition: .5s;
  color:white;
  text-align: center;
}

.logo {
  margin-left:4%
}

.logo-img{
  height:70px;
  width:67px;
  margin-top:20px
}

.main-nav {
	margin-top: 5px;
  margin-right:5%
}

.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
  font-size:1.2vw;
  padding: 13px 20px;
  border-radius: 10px;
  text-transform: uppercase;
  font-family:helvetica-light;
  color:black;
  text-decoration: none
}

.main-nav a:hover {
	color: white
}


.header {
	padding-top: .5em;
	padding-bottom: .5em;

	background-color: #f4f4f4;

}

@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}



.backgroundImage {
  position:relative;
  text-align: center;
  color:white
 }

 .left{
   position: absolute;
   top:50px;
   left:60px;
   text-align: left;
   line-height: 1;
   max-width:50%
}

.left-para1{
 font-family:helvetica-light;
 font-size:1.6vw;
 text-transform: uppercase;
 margin-bottom: 30px
}

.left-para2{
 font-family: helvetica-bold;
 font-size:4.2vw;
 text-transform: uppercase;
 line-height:1.15
 ;
}

.right{
 position: absolute;
 bottom: 45px;
 right: 25px;
 text-align:right;
}

.right-para{
 font-family:helvetica-light;
 text-transform: uppercase;
 font-size:1.5vw
}
/* section2 css */
/* Column container */
.section2{  
  display: flex;
  flex-wrap: wrap;
  margin-top:30px;
  justify-content: space-around;
  margin: 0 3% 2% 3%;
}


/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 35%;
  margin-top: 0%;
  padding: 20px;
}

.list{
  background-color: #f1f1f1;
  padding: 20px;

}

.rd-para{
  font-family:helvetica-light;
  font-size:20px;
  margin-bottom:10px
}

.st-para1{
  font-family:helvetica-light;
  font-size:1.5vw;
  color: #0076ff;
}

.st-para2{
  font-family:helvetica-bold;
  text-transform: uppercase;
  color:black;
  margin-bottom:10px;
  font-size:3vw;
}



/* Main column */
.main {
  flex: 65%;
  background-color: white;
  padding: 20px;
}

.st-para1{
  font-family:helvetica-light;
  font-size:1.5vw;
  color: #0076ff;
}

.st-para2{
  font-family:helvetica-bold;
  text-transform: uppercase;
  color:black
}

.para1{
  font-family: helvetica-regular;
  font-size:1.3vw;
  margin-bottom:15px
}

button{
  background-color: #0076ff; 
  color: white; 
  border-radius: 10px;
  height:50px;
  width:200px;
  font-family:helvetica-light;
  border: none;
  border-width : 0; 
  border : 0 ;
  font-size:15px;
  margin-top:60px;
  margin-left:50px
}

.active {
  list-style: none;
  font-family: helvetica-regular;
  line-height: 20px;
}

.active::before {
  content: "\2022";
  color: #0076ff;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: 0em;
  font-size: 30px;
}

.list{

  background-color:#FAFAFC;
  border-radius:20px;
  margin-top:10%;
  text-align: left;
  padding-top:50px;
  padding-left:30px;
  padding-bottom: 30px;
  box-shadow: 0px 5px 6px #00000029;
}


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .section2{   
    flex-direction: column;
  }
}

/* section2 ends */



.lowerbackgroundImage{
  position:relative;
  text-align: center;
  color:white ;
  margin-bottom: 30px;
}

.content{
  position: absolute;
  margin-top:0px;
  top: 5%;
  right: 5%;
  text-align: left;
  max-width:40%
}

.lowerpara{
  font-family:helvetica-bold;
  text-transform: uppercase;
  font-size:3vw;
  margin-bottom: 10px;
}

.para2{
  font-family: helvetica-regular;
  font-size:1.2vw;
  margin-bottom: 10px;
}


/* footer css */

.flex-container {
  display: flex;
  justify-content: center;
  flex-direction:column;
  align-items: center;
  background-color: #0076ff;
}

.flex-container > div {
  margin: 10px;
  text-align: center;
 
}

.footer-img{
  height:30%;
  width:30%;
  margin-top:20px
}

.footer-para{
  font-family: kano-regular;
  font-size:20px;
  line-height:40px
}


